@font-face {
  font-family: "Digital";
  src: url(font.ttf);
}

table {
  font-family: "Digital";
  text-align: center;
  font-size: 5vmin;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #1b2021;
}

.table > tbody > tr > td {
  vertical-align: middle;
  border: 10px solid #5f939a;
}

td {
  color: #eac8af;
}

.operation {
  background-color: #eac8af;
  color: #1b2021;
}

td:hover {
  color: #5f939a;
}

#display {
  text-align: right;
  max-height: 20vh;
  height: 20vh;
  min-height: 20vh;
  width: 90vw;
  max-width: 90vw;
  min-width: 90vw;
  word-break: break-all;
}

/* #d8ac9c
#1b2021
#5f939a
#eac8af */
