@font-face {
  font-family: "Digital";
  src: url(font.ttf);
}

table {
  font-family: "Digital";
  height: 100vh;
  width: 100vh;
  font-size: 5vmin;
  text-align: center;
  background-color: #1b2021;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

td,
#display {
  border: 10px solid #5f939a;
  color: #eac8af;
}

#display {
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: right;
  vertical-align: text-top;
}

.operation {
  margin: 2vh auto;
  background-color: #eac8af;
  color: #1b2021;
}

td:hover {
  color: #5f939a;
}

.title {
  text-align: center;
  margin: auto 5vw;
  font-size: 5vmin;
}

/* #d8ac9c
#1b2021
#5f939a
#eac8af */
